{% macro overall_rating_bar_chart(ratings) %}
<div class="overall-ratings-chart">
  <div class="ratings-chart-body">
    <ul class="ratings-list">
        {% set max_count = ratings.values() | max %}
        {% for rating_text, count in ratings.items() %}
        <li class="rating-item">
            <span class="rating-label">{{ rating_text }}</span>
            <div class="rating-bar-container">
            <div class="rating-bar" style="width: {{ (count / max_count) * 100 }}%;"></div>
            </div>
            <span class="rating-count">{{ count }}</span>
        </li>
        {% endfor %}
    </ul>
  </div>
</div>
{% endmacro %}