:root {
    --primary-color: #ABB7FF;      
    --secondary-color: #B4E1FF;     
    --accent-color: #FFACE4;      
    --background-light: #F5FFC6;    
    --text-primary: #333333;       
    --text-secondary: #666666;     
    --success-color: #C1FF9B;
    --disabled-color: #D9D9D9;       
  }

  body {
    font-family: sans-serif; 
    margin: 0;
    padding: 0;
    background-color: var(--background-light); 
    color: var(--text-primary); 
}

.log-in-button {
    background-color: transparent;
    border: 1px solid var(--accent-color); 
    color: var(--accent-color); 
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.button-group {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
}

.primary-button {
    background-color: var(--primary-color);
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.secondary-button {
    background-color: transparent;
    border: 1px solid var(--primary-color); 
    color: var(--primary-color);
    padding: 12px 25px;
    border-radius: 8px;
    cursor: pointer;
}