{% extends 'header.html' %}
{% block body %}
<div class="form-container" style="margin:10%; background-color:var(--accent-color);">
    <h2>Add a Unit</h2>
    <form action="" method="post">
        {{form.hidden_tag()}}
        <p>{{form.add_uni.label}} {{form.add_uni}}</p>
        <p>{{form.add_faculty.label}}<br>{{form.add_faculty}}</p>
        <p>{{form.add_code.label}} {{form.add_code}}</p>
        <p>{{form.add_unit_name.label}}<br>{{form.add_unit_name}}</p>
        <p>{{form.add_submit.label}}<br>{{form.add_submit}}</p>
    </form>
</div>
{% endblock %}