{% extends 'header.html' %}
{% block body %}

{% with messages = get_flashed_messages(category_filter=['success_add_unit', 'error_add_unit', 'error_unit_review']) %}
{% if messages %}
  {% for message in messages %}
    <div class="alert alert-{{ 'success' if 'success_' in category else 'danger' }}" role="alert">
      {{ message }}
    </div>
  {% endfor %}
{% endif %}
{% endwith %}
<div class="d-flex justify-content-center align-items-center" style="min-height: 90vh;">
  <div class="form-container review-form">
    <h3 class="form-header">Add a New Unit!</h3>

    <form method="POST">
      {{ form.hidden_tag() }}

      <p class="form-label">{{ form.add_uni.label }}</p>
      <p>{{ form.add_uni(class="form-input") }}</p>

      <p class="form-label">{{ form.add_faculty.label }}</p>
      <p>{{ form.add_faculty(class="form-input") }}</p>

      <p class="form-label">{{ form.add_code.label }}</p>
      <p>{{ form.add_code(class="form-input", style="text-transform: uppercase;") }}</p>

      <p class="form-label">{{ form.add_unit_name.label }}</p>
      <p>{{ form.add_unit_name(class="form-input") }}</p>

      <p class="form-label">{{ form.add_unit_level.label }}</p>
      <p>{{ form.add_unit_level(class="form-input") }}</p>

      <p>{{ form.add_submit(class="form-submit") }}</p>
    </form>
</div>

{% endblock %}
