{% extends 'header.html' %}
{% block body %}
<div class="form-container" style="margin:10%; background-color:var(--accent-color);">
    <h2>Add a Unit</h2>
    <form action="" method="post">
        {{form.hidden_tag()}}
        <p>{{form.adduni.label}} {{form.adduni}}</p>
        <p>{{form.addfaculty.label}}<br>{{form.addfaculty}}</p>
        <p>{{form.addcode.label}} {{form.addcode}}</p>
        <p>{{form.addunitname.label}}<br>{{form.addunitname}}</p>
        <p>{{form.addsubmit.label}}<br>{{form.addsubmit}}</p>
    </form>
</div>
{% endblock %}