{% extends 'base.html' %} {% block header %}
{% set show_user_info = show_user_info | default(false) %}
<header class="main-header">
  <div class="stretch-container" style="height: 100px">
    <h1 style="font-weight: 600">
      <a class="home-button" href="{{ url_for('blueprint.dashboard') if current_user.is_authenticated else url_for('blueprint.home') }}">ClassMate</a>
    </h1>

    {% if show_user_info %}
      <div class="user-info">
        Welcome, <span id="user-name">{{ current_user.username }}</span>
        <a href="{{ url_for('blueprint.logout') }}" class="log-in-button">Log Out</a>
      </div>
    {% else %}
      <div>
        <a href="{{ url_for('blueprint.signup') }}" class="sign-up-button">Join </a>
        <a href="{{ url_for('blueprint.login') }}" class="log-in-button">Log In</a>
      </div>
    {% endif %}
    
  </div>
</header>

{% if show_user_info %}
  <nav class="side-nav">
    <h2 class="side-nav__title">NAVIGATION</h2>
    <ul class="side-nav__list">
      <li class="side-nav__item">
        <a href="{{ url_for('blueprint.dashboard') }}"
          class="side-nav__link{% if active_page=='dashboard' %} is-active{% endif %}">
          <span class="side-nav__icon">★</span>
          Unit diary
        </a>
      </li>
      <li class="side-nav__item">
        <a href="{{ url_for('blueprint.search_results') }}"
          class="side-nav__link{% if active_page=='add' %} is-active{% endif %}">
          <span class="side-nav__icon">☆</span>
          Find a unit
        </a>
      </li>
      </li>
      <li class="side-nav__item">
        <a href="{{ url_for('blueprint.add_unit') }}"
          class="side-nav__link{% if active_page=='finder' %} is-active{% endif %}">
          <span class="side-nav__icon">☆</span>
          Add new unit
        </a>
      </li>
      <li class="side-nav__item">
        <a href="{{ url_for('blueprint.shared_diaries') }}"
          class="side-nav__link{% if active_page=='diary' %} is-active{% endif %}">
          <span class="side-nav__icon">☆</span>
          Shared diares
        </a>
      </li>
    </ul>
  </nav>
{% endif %}
{% endblock %}