{% extends 'base.html' %} {% block header %}
{% set show_user_info = show_user_info | default(false) %}
<header class="main-header">
  <div class="stretch-container" style="height: 100px">
    <h1 style="font-weight: 600">
      <a class="home-button" href="{{ url_for('dashboard') if current_user.is_authenticated else url_for('home') }}">ClassMate</a>
    </h1>

    {% if show_user_info %}
      <div class="user-info">
        Welcome, <span id="user-name">{{ current_user.username }}</span>
        <a href="{{ url_for('logout') }}" class="log-in-button">Log Out</a>
      </div>
    {% else %}
      <div>
        <a href="{{ url_for('signup') }}" class="sign-up-button">Join </a>
        <a href="{{ url_for('login') }}" class="log-in-button">Log In</a>
      </div>
    {% endif %}
    
  </div>
</header>
{% endblock %}
