
{% extends 'header.html' %}
{% from 'components/info_box.html' import info_box %}

{% block body %}
<main>
  <section class="intro-hero">
    <h1 class="brand-title">ClassMate</h1>
    <p class="brand-subtitle">Get to know a unit before Week 1.</p>

    <div class="action-set">
      <a href="{{ url_for('signup') }}" class="primary-button">Join for free!</a>
      <a href="{{ url_for('login') }}" class="home-button">Log in</a>
    </div>

    <div class="button-group">
      <a href="#info-container" class="secondary-button">What is ClassMate?</a>
    </div>

    <p class="intro-description">
      A university unit review tool that lets you rate units you've taken and explore electives based on workload, difficulty, assessments, and more.
    </p>

    <p class="emphasis">Choose smarter. Study Better.</p>
  </section>

  <div class="scroll-indicator">↓</div>

  <section id="info-container" class="info-container">
    {{ info_box('images/ICN-flash.png', 'Elective Finder', 'Find your best match based on difficulty, reviews and stats.') }}
    {{ info_box('images/ICN-heart.png', 'Rate a Unit', 'Rate units based on difficulty, assessments, lecturers and more...') }}
    {{ info_box('images/ICN-stats.png', 'Unit at a Glance', 'See aggregated stats for each unit — workload, assessments, lecturers and more.') }}
  </section>
</main>
{% endblock %}
