{% extends 'header.html' %} {% block body %}
<div class="container-fluid" style="margin-left: 60px">
  <div class="row">
    <div class="col-sm-5" style="margin-top: 100px">
      <h3 style="color: var(--background-light)">Review and share data</h3>
      <p>
        In order to share your unit data and see your past reviews, you must
        create an account using a valid student email.
      </p>
      <p>You will still have the option to review a unit anonymously.</p>
    </div>

    <div class="col-sm-7" style="padding-left: 40px">
      <div class="form-container sign-up-form" style="margin-right: 60px">
        <h3 class="form-header">Create your account to get started</h3>
        <form name="signup" action="" method="post">
          {{ form.hidden_tag() }}

          <p class="form-label">{{ form.email.label }}</p>
          <p>
            {{ form.email(class="form-input", id="register-email") }}
            {% for error in form.email.errors %}
              <span class="error-message">{{ error }}</span>
            {% endfor %}
          </p>

          <p class="form-label">{{ form.password.label }}</p>
          <p>
            {{ form.password(class="form-input", id="register-password") }}
            {% for error in form.password.errors %}
              <span class="error-message">{{ error }}</span>
            {% endfor %}
          </p>

          <p class="form-label">{{ form.confirm.label }}</p>
          <p>
            {{ form.confirm(class="form-input", id="register-confirm") }}
            {% for error in form.confirm.errors %}
              <span class="error-message">{{ error }}</span>
            {% endfor %}
          </p>

          <p>{{ form.submit(class="form-submit", id="register-submit") }}</p>
        </form>

        <div style="margin-top: 20px;">
          <p>Already have an account?
            <a href="{{ url_for('main.login') }}">Log in</a>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="{{ url_for('static', filename='js/functions.js') }}"></script>
{% endblock %}
