{% extends 'header.html' %}
{% block body %}
<div class="form-container" style="margin:10%; background-color:var(--accent-color);">
    <h2>Submit a Review</h2>
    <form action="" method="post">
        {{form.hidden_tag()}}
        <p>{{form.rev_uni.label}} {{form.rev_uni}}</p>
        <p>{{form.rev_code.label}} {{form.rev_code}}</p>
        <p>{{form.rev_unit_co.label}}<br>{{form.rev_unit_co}}</p>
        <p>{{form.rev_difficulty.label}}<br>{{form.rev_difficulty}}</p>
        <p>{{form.rev_hours.label}}<br>{{form.rev_hours}}</p>
        <p>{{form.rev_assessments.label}}<br>{{form.rev_assessments}}</p>
        <p>{{form.rev_rating.label}}<br>{{form.rev_rating}}</p>
        <p>{{form.rev_submit.label}}<br>{{form.rev_submit}}</p>
    </form>
</div>
{% endblock %}