{% extends 'header.html' %}
{% from 'components/search_result.html' import search_result %}

{% block body %}
<div>
    <form class="large-search-bar" action="">
        <!--no action yet-->
        <button type="submit"><img src="/static/images/ICN-search.png"></button>
        <input class="unit-name-search" type="text" placeholder="Search unit">
        <select class="uni-search ">
            <option>Select university</option>
            <option>University of Western Australia</option>
            <option>Other...</option>
        </select>
    </form>
</div>

<!--example search result-->
<div>
    {{search_result(
        "5.0", "CITS3403","Agile Web Development", "UNIVERSITY OF WESTERN AUSTRALIA"
    )}}
</div>
{% endblock %}