{% extends 'header.html' %}
{% from 'components/search_result.html' import search_result %}

{% block body %}
<div>
    <form class="large-search-bar" action="">
        <!--no action yet-->
        <button type="submit"><img src="app/static/images/ICN-search.png"></button>
        <input class="unit-name-search" type="text" placeholder="Search unit">
        <select class="uni-search ">
            <option>Select university</option>
            <option>University of Western Australia</option>
            <option>Other...</option>
        </select>
    </form>
</div>


<!--made an example search result which will be shown when any input is submitted-->
<div style="display:none">
    {{search_result(
        "5.0", "CITS3403","Agile Web Development", "UNIVERSITY OF WESTERN AUSTRALIA"
    )}}
</div>

<script>
    document.querySelector(".large-search-bar").addEventListener("submit", (e) => {
        e.preventDefault();
        document.querySelector(".result-box").style.display = "block";
    });
</script>
{% endblock %}