{% extends 'header.html' %}
{% from 'components/diary_entry.html' import diary_entry %}
{% from 'components/user_faculty_chart.html' import user_faculty_chart %}

{% block body %}

<div class="summary-container" style="margin:20px;">
  <div class="unit-summary-card">
    <div class="summary-row">
      <div class="summary-section">
        <h5 class="section-title">Highest WAM area:</h5>
        <p style="color:white">{{highestWAM[0]}}<br>{{highestWAM[1]}}</p>
        <h5 class="section-title">Units taken in each faculty:</h5>
        <div>{{user_faculty_chart(facultylabel, unitcount)}}</div>
      </div>
      <div class="summary-section">
        <h5 class="section-title">Total credit points:</h5>
        <p style="color:white">{{creditPoints[0]}}</p>
        <h5 class="section-title">Average difficulty of units taken:</h5>
        <p style="color:white">{{avgDiff[0]}}</p>
      </div>
    </div>
  </div>
</div>

<div>
  {% if units_taken %} 
  <h3 class="diary-title">Study Snapshot</h3>
  {% for diary, unit in units_taken %}
  {{ diary_entry( unit.code, unit.title, diary.semester, diary.grade, diary.year) }}
  {% endfor %}
  {% endif %}
</div>
{% endblock %}