{% extends 'header.html' %} {% from 'components/search_result.html' import
search_result %} {% block body %}
<div>
  <form class="large-search-bar" id="searchForm">
    <button type="submit" style="border: none; background-color: transparent">
      <img src="/static/images/ICN-search.png" style="height: 2em" />
    </button>
    <input
      class="unit-name-search"
      type="text"
      placeholder="Search unit"
      name="unit_name"
      id="unitNameInput"
    />
    <select class="uni-search" name="university" id="universitySelect">
      <option value="">Select university</option>
      <option value="1">University of Western Australia</option>
      <option value="2">Another University</option>
      <option value="Other">Other...</option>
    </select>
  </form>
</div>

<div id="searchResultsContainer">
    {% for unit in results %}
        <div class="search-result-item" href="{{ url_for('unit_summary') }}"
                data-title="{{ unit.title|lower() }}"
                data-code="{{ unit.code|lower() }}"
                data-university-id="{{ unit.university_id }}"
             >
            {{ search_result("5.0", unit.code, unit.title, unit.university_id) }}
        </div>
    {% endfor %}
    <div id="noResults" display="none">No units found matching your search criteria.</div>
</div>
{% endblock %}
