{% extends 'header.html' %}
{% from 'components/diary_entry.html' import diary_entry %}

{% block body %}

<div class="summary-container">
    <div class="unit-summary-card">

      <div class="summary-row">
        <div class="summary-section">
          <h5 class="section-title">Chart</h5>
          <canvas class="chart-placeholder"></canvas>
        </div>
        <div class="summary-section">
          <h5 class="section-title">Another Chart</h5>
          <canvas class="chart-placeholder"></canvas>
        </div>
      </div>
      <div class="summary-row">
        <div class="summary-section">
          <h5 class="section-title">Data Visualisation</h5>
          <canvas class="chart-placeholder" id="coordinatorChart"></canvas>
          <h5 class="section-title">Visualising Data</h5>
          <canvas class="chart-placeholder" id="difficultyChart"></canvas>
        </div>
        <div class="summary-section">
            <h5 class="section-title">Placeholder</h5>
            <canvas class="chart-placeholder"></canvas>
          </div>
      </div>
  </div>
</div>

<!--example unit diary entry-->
<div>
    {{diary_entry(
        "CITS3403","Agile Web Development","S1 2024","85"
    )}}
</div>
{% endblock %}